h1{
    font-size: 50px;
    color: #FEE715FF;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #101820FF;
    border-color: #FEE715FF;
    font-family: monospace;
}

.fldset{
    border: 4px solid #FEE715FF;
    padding: 2.5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 20px;
}
.fldset legend{
    font-size: 40px;
    font-weight: bolder;
    color: #CBD18F;
}
.personal {
    font-size: 30px;
    border: none;
    border-bottom: 2px solid #FEE715FF;
    background-color: #101820FF;
    color: #FEE715FF;
    font-family: monospace;
}
.personal:focus{
    outline: none;
    border-bottom: 4px solid #FEE715FF;
    font-size: 38px;
}
.personal input[type=text], input[type=email]{
    margin: 0.9%;
}
.head_dept{
    font-size: 28px;
    font-weight: bolder;
    color: #FEE715FF;
}

.acad{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    font-size: 25px;
    padding: 1%;
    color: #E3B448;
}
.acad input[type=radio]{
    border: 2px solid yellow;
}
.button{
    margin: 1%;
    padding: 0.9%;
    border-radius: 15px;
    font-size: 20px;
    font-family: monospace;
    font-weight: bolder;
    background-color: #CBD18F;
}
.button:hover{
    background-color: #101820FF;
    color:  #FEE715FF;
    border: 3px solid #CBD18F;
    font-weight: bolder;
}
